<h1>Edit an Organization </h1>

<%= form_for(@organisation) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :"Hourly rate: $" %>
    <%= f.text_field :rate %>
    
    <%= f.submit "Create and Join" %>
    <% end %>